/* VARIABLES */

:root{
  --main-text-color : #fff;
  
}


/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src:
  url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src:
  url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #014E56;
  font-family: "Livvic", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li
{
  margin: 0;
  padding: 0;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/* style build */

.build{
  padding: 198px 0px 140px 0px;
  background-color: #012F34;
  background-image: url(../images/radius.svg);
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: calc(50% + 760px) calc(50% + 194px);
}


.build__inner{
  display: flex;
  justify-content: space-between;
}

.build__info{
  width: 445px;
  position: relative;
}

.build__info::before{
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  top: -50px;
  left: 0;
  background-color: #F67E7E;
}

.info__title{
  margin: 0;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--main-text-color);
}

.build__menu{
  width: 445px;
}

.menu__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item{
  margin-bottom: 32px;
}

.menu__item:nth-child(1){
  position: relative;
}

.menu__item:nth-child(1)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 0;
  left: -100px;
  background-image: url(../images/pic-one.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(2){
  position: relative;
}

.menu__item:nth-child(2)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 0;
  left: -100px;
  background-image: url(../images/pic-two.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__item:nth-child(3){
  position: relative;
}

.menu__item:nth-child(3)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 0;
  left: -100px;
  background-image: url(../images/pic-thri.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__title{
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.menu__text{
  margin: 0;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}



.site-header{
  padding-top: 77px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  margin-right: 80px;
}

.header__left__box{
  display: flex;
  align-items: center;
}

.header__list,
.footer__list
{
  display: flex;
  list-style: none;
}

.header__item:first-child,
.footer__item:first-child
{
  margin-right: 40px;
}

.header__link,
.footer__link
{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover,
.footer__link:hover
{
  color: #F67E7E;
}

.header__btn,
.started__btn
{
  padding-top: 9px;
  padding-right: 33px;
  padding-bottom: 11px;
  padding-left: 32px;
  background: transparent;
  border: 2px solid var(--main-text-color);
  border-radius: 24px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

.started__btn{
  border: 2px solid #012F34;
  
}

.header__btn:hover
{
  background-color: var(--main-text-color);
  color: #002529;
}

.started__btn:hover{
  background-color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}

.hero-section,
.about__hero-section
{
  position: relative;
  padding-top: 133px;
  padding-bottom: 170px;
  background-image: url("../images/hero-section__before.svg"), 
  url("../images/hero-section__after.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -770px) calc(50% + -30px), calc(50% + 400px) calc(50% + 320px);
}

.about__hero-section{
  background-image: url("../images/about-hero-section-after.svg");
  background-position: calc(50% + 760px) calc(50% + 165px);
}

.hero{
  display: flex;
  align-items: center;
}

.hero__title{
  width: 615px;
}

.about__hero__title{
  width: 350px;
}

.hero__heading,
.about__hero__heading
{
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--main-text-color);
}

.hero__info{
  width: 445px; 
}

.about__hero__info{
  width: 730px;
  margin-left: 100px;
}

.hero__desc,
.about__hero__desc
{
  position: relative;
  top: 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

.hero__desc::before{
  position: absolute;
  content: "";
  background-image: url("../images/hero__before.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 4px;
  top: -79px;
}

.about__hero__desc::before{
  position: absolute;
  content: "";
  background-image: url("../images/about-hero-before.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 4px;
  top: -79px;
}

/* style result */

.result {
  padding: 140px 0 245px 0;
  background-image: url("../images/result-one.png"), url("../images/result-two.png");
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: calc(50% - 690px) calc(0%),  calc(50% + 660px) calc(100%);
}

.result__content {
  width: 932px;
  margin:  0 auto;
}

.result__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.result__title > span {
  color: #79C8C7;
}

.result__list {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}

.result__item {
  width: 380px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.result__item::before {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  content: "";
  display: block;
  width: 67px;
  height: 56px;
  background-image: url("../images/icon.svg");
  
}

.result__item:nth-child(1){
  position: relative;
}

.result__item:nth-child(1)::after{
  width: 62px;
  height: 62px;
  position: absolute;
  
  left: 0;
  right: 0;
  bottom: -70px;
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../images/ava-one.svg");
  background-repeat: no-repeat;
  background-size:contain ;
}

.result__item:nth-child(2){
  position: relative;
}

.result__item:nth-child(2)::after{
  width: 62px;
  height: 62px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../images/ava-two.svg");
  background-repeat: no-repeat;
  background-size:contain ;
}

.result__item:nth-child(3){
  position: relative;
}

.result__item:nth-child(3)::after{
  width: 63px;
  height: 63px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  margin: 0 auto;
  content: "";
  display: block;
  background-image: url("../images/ava-thri.svg");
  background-repeat: no-repeat;
  background-size:contain ;
}


.result__blockquote {
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 24px;
  margin-bottom: auto;
}

.result__username {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.result__job {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 2px 0 32px;
}

.result__avatar {
  margin: 0 auto;
}

.started{
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../images/started-bg.svg");
  background-repeat: no-repeat;
  background-position-y: calc(50% + 75px);
  background-color: #F67E7E;
}

.started__content{
  width: 917px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.started__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.site-footer{
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

/* clients */

.clients{
  padding: 140px 0 150px 0;
  background-color: #012F34;
  background-image: url(../images/clients-bg.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 660px) calc(50% - 129px);
}

.clients__list{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__title{
  margin: 0;
  font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
text-align: center;
color: #FFFFFF;
margin-bottom: 70px;
}
/* clients */

.footer{
  display: flex;
  justify-content: space-between;
}

.footer__left{
  display: flex;
}

.footer__list{
  margin-top: 25px;
}

.footer__address__box{
  margin-left: 125px;
  width: 130px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  cursor: pointer;
}

.footer__tel{
  width: 200px;
}

.footer__tel  > a{
  margin-left: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 1;
  text-decoration: none;
}


.footer__social__link{
  width: 115px;
  display: flex;
  margin-left: auto;
  margin-bottom: 50px;
}

.footer__social__link > a{
  margin-right: 16px;
  text-decoration: none;
  color: var(--main-text-color);
}

.footer__social__link > a:hover{
  color: #F67E7E;
}


.footer__desc{
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: var(--main-text-color);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.directors{
  padding-top: 140px;
  padding-bottom: 168px;  
  background-color: #004047;
}

.directors__heading__box{
  width: 920px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.directors__heading-content{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--main-text-color);
}

.directors__list{
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.directors__item{
  position: relative;
  width: 350px;
  margin-bottom: 76px;
  margin-right: 30px;
  background: #012F34;
}

.directors__item:first-child:before{
  position: absolute;
  content: "";
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  background-image: url("../images/directors-one.jpg");
  background-repeat: no-repeat;
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.directors__item:nth-child(2):before{
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  position: absolute;
  content: "";
  background-image: url("../images/directors-two.jpg");
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.directors__item:nth-child(3):before{
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  position: absolute;
  content: "";
  background-image: url("../images/directors-three.jpg");
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.directors__item:nth-child(4):before{
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  position: absolute;
  content: "";
  background-image: url("../images/directors-four.jpg");
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.directors__item:nth-child(5):before{
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  position: absolute;
  content: "";
  background-image: url("../images/directors-five.jpg");
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.directors__item:nth-child(6):before{
  top: 32px; 
  left: 127px;
  width: 96px;
  height: 96px;
  position: absolute;
  content: "";
  background-image: url("../images/directors-one.jpg");
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}


.directors__content__box{
  text-align: center;
  padding-top: 144px;
  padding-right: 24px;
  padding-bottom: 56px;
  padding-left: 24px;
}

.directors__content__box > h3{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.directors__content__box > i{
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--main-text-color);
}

.directors__icon{
  position: absolute;
  bottom: -28px;
  left: 42%;
  width: 56px;
  height: 56px;
  background-image: url("../images/+.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F67E7E;
  border-radius: 50%;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.directors__icon:hover{
  transform: rotate(45deg);
  background-color: #79C8C7;
}




